<h1>Rails Tutorial</h1>


<% if user_logged_in? %>
  
  <%= form_for @micropost do |f| %>
  
  <div class = "field">
   <%= f.label :microposts %>
   <%= f.text_field :body %>
  </div>

  <div class ="actions">
    <%= f.submit "submit" %>
  <% end %>

  <ul>
    <% @microposts.each do |micropost| %>
    
    <strong><%= micropost.user.name %></strong>
    <li><%= micropost.body %></li>

    <% end %>

</ul>

<% else %>
  <%= link_to "Sign up now","/signup" %>
<% end %>



